<%= turbo_frame_tag 'new_comment' do %>

<%= form_with(model: [:admin, (defined?(product) ? product : @product), @comment]) do |f| %>
<%= render 'shared/errors', object: @comment %>

  <div class='row mb-2 mt-3'>
    <div class='col-sm-1 col-form-label'>
      <%= f.label :body %>
    </div>

    <div class='col-sm-11'>
      <%= f.text_area :body, class: 'form-control' %>
    </div>
  </div>

  <div class='row'>
    <div class="col-sm-1 col-form-label">
    </div>
    <div class="col-sm-11 my-2">
      <%= f.submit 'Create comment', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
<% end %>

