<%= tag.div class: 'card p-2 my-2', id: dom_id(product) do %>
  <div class='my-3'>
    <li>
      <%= product.position %> <%= product.title %>
    </li>
      <%= product.body %>
      
    <% if current_admin.present? %>
      <div class='mb-3'>
        <%= link_to 'Edit', edit_admin_product_path(product), class: "btn btn-primary" %>
        <%= link_to 'Delete', admin_product_path(product), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    <% end %>

    <% unless product.comments.empty? %>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_<%= product.id%>" aria-expanded="true" aria-controls="collapse_<%= product.id%>">
              Comments :
            </button>
          </h2>
          <div id="collapse_<%= product.id%>" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
            <%= turbo_frame_tag "comments" do %>
                  <%= render product.comments %>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_<%= product.id%>" aria-expanded="true" aria-controls="collapse_<%= product.id%>">
              Create comment
            </button>
          </h2>
          <div id="collapse_<%= product.id%>" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
            <%= turbo_frame_tag 'new_comment' do %>
              <%= render 'admin/comments/form', product: product %>
            <% end %>
            </div>
          </div>
        </div>
      </div>
  
<% end %>
