<%= form_with(url: admin_products_path, method: 'get') do |f| %>
  <div class='card p-2'>
    <div class='ms-4'>
      <div class='row'>
        <div class="col-sm-3 col-form-label">
          <%= f.label :query, "Search" %>
        </div>
        <div class="col-sm-9 mb-2">
          <%= f.text_field :query, placeholder: "Enter keyword", class: 'form-control form-control-lg' %>
        </div>
      </div>
      <div class='row'>
        <div class="col-sm-3 col-form-label">
          Sort by Created At
        </div>
        <div class="col-sm-9 mb-2">
          <%= f.radio_button :sort_by_created_at, 'asc' %>
          <%= f.label :asc, 'ASC' %>
          <%= f.radio_button :sort_by_created_at, 'desc' %>
          <%= f.label :desc, 'DESC' %>
        </div>
      </div>
      <div class='row'>
        <div class="col-sm-3 col-form-label">
          Sort by Updated At
        </div>
        <div class="col-sm-9 mb-2">
          <%= f.radio_button :sort_by_updated_at, 'asc' %>
          <%= f.label :asc, 'ASC' %>
          <%= f.radio_button :sort_by_updated_at, 'desc' %>
          <%= f.label :desc, 'DESC' %>
        </div>
      </div>
      <div class='row'>
        <div class="col-sm-3 col-form-label">
          First or Last
        </div>
        <div class="col-sm-9 mb-2">
          <%= f.radio_button :first_last, 'first' %>
          <%= f.label :asc, 'First 5' %>
          <%= f.radio_button :first_last, 'last' %>
          <%= f.label :desc, 'Last 5' %>
        </div>
      </div>
    </div>

    <div class='my-2'>
      <%= f.submit 'Sort, search', class: "btn btn-primary me-4" %>
      <%= link_to 'All products', admin_products_path, class: "btn btn-primary" %>
    </div>
  </div>
 
<% end %>